Image Generator to Telegram.json
{
  "name": "Image Generator to Telegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "Find and generate",
        "options": {
          "systemMessage": "You are creative designer AI image generator tasked with creating visually appealing images that promote a healthy lifestyle. Pick a random row from the tool Google Spreadsheet ID \"1xs1hKOygugnwSgc9TP73NDF7kp4UFnJ5uafllX-sKMs\" and sheet name \"Sheet1\". Users want images that illustrate simple life hacks, fitness tips, nutritious meals, and general wellness ideas.\nGenerate images that are informative, engaging, and easy to understand. The images should inspire viewers to adopt healthy habits.\nInclude scenes of nutritious food, exercises, morning routines, hydration, mindfulness, wellness practices and relevant text message embedded in the image. You can use Google Sheet tool column name \"tip_text\" as the embedded text as reference. \nStyle can be bright, cheerful, realistic, or illustrative, but always clear and positive. \nAvoid inappropriate, violent, or irrelevant content.\nTake a natural-language description of a health tip or life hack and create a corresponding image that visually represents it.\nInterpret the user’s input or prompt.\nFocus on main elements: people, food, activities, or objects that convey health and wellness.\nEnsure the image is visually appealing and readable at a glance.\nA high-quality image ready to share on social media or messaging platforms (like Telegram), clearly illustrating the intended health tip or life hack.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -384,
        344
      ],
      "id": "804917a0-206a-4736-9b81-a61aa7549187",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        568
      ],
      "id": "bd28fa63-fe07-4d88-a61a-6b4772da4c32",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3py4FYAzGhXIVgJG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://image-generation-server-skillnewyork.replit.app/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "AIzaSyC8y6YOM0ss3WxJ-5mmtV67uW75kEhwBQk"
            },
            {
              "name": "prompt",
              "value": "=\"Generate clear, high quality and relevant image and also understand the image content and add creative, impactful short text message within the image itself such that both the image and text are clearly seen.\" + {{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        344
      ],
      "id": "b605af3c-b421-41d1-a482-1bbbb6e8ea54",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        344
      ],
      "id": "e84267ad-e60b-4a2d-a403-f8bac50de065",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1241370164",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        440
      ],
      "id": "bbcc9ce4-3164-425e-8846-dadbae86ca70",
      "name": "Send a photo message to Mehul",
      "webhookId": "332f3567-cea7-4317-b9a5-0dd02b75ebb1",
      "credentials": {
        "telegramApi": {
          "id": "BM2iMqeJlo6iHLGv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1138015468",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        248
      ],
      "id": "29bd09d0-6594-46b9-a942-3210c8be86fd",
      "name": "Send a photo message to Pranjali",
      "webhookId": "332f3567-cea7-4317-b9a5-0dd02b75ebb1",
      "credentials": {
        "telegramApi": {
          "id": "BM2iMqeJlo6iHLGv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xs1hKOygugnwSgc9TP73NDF7kp4UFnJ5uafllX-sKMs",
          "mode": "list",
          "cachedResultName": "HealthBot_Source",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xs1hKOygugnwSgc9TP73NDF7kp4UFnJ5uafllX-sKMs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xs1hKOygugnwSgc9TP73NDF7kp4UFnJ5uafllX-sKMs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -224,
        568
      ],
      "id": "aa46751f-a6c2-441b-9646-add176d22f3e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BFs7k2We5V03q8lU",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        344
      ],
      "id": "6f5558c5-a3dc-4831-839f-bf9f5c748c86",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a photo message to Pranjali",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a photo message to Mehul",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "955aeb4c-ea2e-494c-8ddf-e9196e80743e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6023d4a311c68938314662f8f0d2d31eebe36753bcc553ef65c2b7a64ba7dfb1"
  },
  "id": "judhejpJpPTrGdkf",
  "tags": []
}